* {
  font-family: 'Open Sans Condensed', sans-serif;
}

html, body {
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ),url("https://wallpaperset.com/w/full/6/9/0/62868.jpg");
  height: 100%;
  background-position: center;
}

.nav-font {
  font-family: 'Fascinate Inline', cursive;
}

.op-level {
  opacity: 0.8;
}

.hov:hover {
  cursor: pointer;
  animation: zoom-unit;
  animation-duration: 400ms;
  animation-fill-mode: forwards;

}

.zoom-temp:hover {
  cursor: pointer;
  animation: zoom-t;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes zoom-t {
  0%{
    font-size: 75px;
  }100%{
    font-size: 81px;
  }
}

@keyframes zoom-unit {
  0%{
    font-size: 30px;
  }100%{
    font-size: 45px;
  }
}