* {
  font-family: 'Open Sans Condensed', sans-serif;
}
html, body {
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ),url("https://wallpaperset.com/w/full/6/9/0/62868.jpg");
  height: 100%;
  background-position: center;
}

.nav-font {
  font-family: 'Fascinate Inline', cursive;
}

.op-level {
  opacity: 0.8;
}