html, body {
  background-image: url("https://wallpaperset.com/w/full/6/9/0/62868.jpg");
  height: 100%;
  background-position: center;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #928c8c;
  opacity: 0.8;
}

.op-level {
  opacity: 0.8;
}